{% extends "blog/layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_head %}
<style>
    .post_photo {
        max_width: 50%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Panel heading without title
                    {{ post.title }}
                </div>
                <div class="panel-body">
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" class="post_photo" /> 
                    {% endif %}
                    <hr/> 

                    {{ post.content|linebreaks }}
                </div>
                <div class="panel-footer">
                    <a href="{% url "blog:index" %}" class="btn btn-default">목록으로</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div> -->
{% endblock %}

